body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    text-align: center;
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
}

.navbar .logo {
    font-weight: bold;
    font-size: 24px;
    margin-left: 8%;
}

.navbar .menu {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 45%;
}

.navbar .menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.navbar .menu li a.active {
    text-decoration: underline;
}

.navbar .social-icons i {
    font-size: 20px;
    color: white;
    margin-right: 30px;
}

h1 {
    margin-top: 50px;
    font-size: 36px;
    font-weight: bold;
}
.left {
    display: flex;
    height: 150vh;
    background-color: black;
    margin-top: -13%;  

}
  
  /* Left section for "1 Hotel" */
  .left-section {
    flex: 2;
    background-image: url('farm.jpg'); /* Replace with the actual image */
    background-position: left;
    margin-top: 8%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 60% 70%;
  }
  .right-section::before {
        content: '';
    background-image: url('me.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 30%;
    height: 40%;
    top: 70%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .lamaw::before {
    content: '';
background-image: url('me1.jpg');
background-position: center;
background-size: cover;
position: absolute;
width: 30%;
height: 40%;
top: 70%;
left: 80%;
transform: translate(-50%, -50%);
background-repeat: no-repeat;
border-radius: 10px;
}
